<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>404 - Halaman tidak ditemukan</title>
    <meta name="description" content="Whatsapp API gateway indonesia untuk mengirim notifikasi, kirim pesan, terima pesan, IoT, chatbot, dan reminder. Segera download aplikasi WHAPI sekarang!.">
  </head>
  <body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3"></div>
           <div class="col-md-6">
              <div class="card user-card">
                <div class="card-body">
                    <h4><i class="fa fa-info-circle"></i> 404</h4>
                    <p>Halaman yang Anda cari tidak ditemukan.</p>
                </div>
              </div>
           </div>
           <div class="col-md-3"></div>
      </div>
      </div>
  </body>
</html>
