<div class="row">
    <div class="col-md-12">
       <div class="card user-card">
        <div class="card-body">
            <h2><%= lingua.changelog_page.title %></h2>
            <p><%- lingua.changelog_page.desc %></p>
         </div>
       </div>
    </div>
</div>
